<% include ./partials/header %>

<nav>
    <ul>
      <li>Home</li>
      <li class="activeLink"><a href="/about">About Us</a></li>
      <li><a href="/">Catalogue</a></li>
      <li>Contact Us</li>
    </ul>
  </nav>

<main id="about">
    <h2>About Us</h2>

    <img src="./images/about/group.jpeg" alt="group photo" />
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, eaque?</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dignissimos voluptatem, excepturi sunt, voluptate omnis sit perferendis placeat rem cumque esse blanditiis, dolore amet doloremque.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dignissimos voluptatem, excepturi sunt, voluptate omnis sit perferendis placeat rem cumque esse blanditiis, dolore amet doloremque.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dignissimos voluptatem, excepturi sunt, voluptate omnis sit perferendis placeat rem cumque esse blanditiis, dolore amet doloremque.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dignissimos voluptatem, excepturi sunt, voluptate omnis sit perferendis placeat rem cumque esse blanditiis, dolore amet doloremque.</p>

</main>

<% include ./partials/footer %>